<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Project II - Starcraft</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <font>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </font>

  <gui>
    <cursorInput file ="gui/Cursor_text.png"/>
  </gui>
    
  <window>
    <resolution width="1200" height="900" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="true"/>
  </window>

  <file_system>
    <path>./data.zip</path>
    <path>data.zip</path>
    <path>./../Pylon Rush - Prototype/data.zip</path>
    <path>./../Game/data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>


</config>