<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Project II - Starcraft</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <font>
    <default_font file="fonts/StarCraft.ttf" size="12"/>
  </font>

  <gui>
    <cursorInput file ="gui/Cursor_text.png"/>
  </gui>
    
  <window>
    <resolution width="1200" height="900" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>./data.zip</path>
    <path>data.zip</path>
    <path>./../Pylon Rush - Prototype/data.zip</path>
    <path>./../Game/data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <inputManager>
    <!--Camera up-->
    <key id="Up" event="0"/>
    <!--Camera right-->
    <key id="Right" event="1"/>
    <!--Camera down-->
    <key id="Down" event="2"/>
    <!--Camera left-->
    <key id="Left" event="3"/>

    <!--Open menu-->
     <key id="Escape" event="4"/>
    <key id="F10" event="4"/>
    <!--Open console-->
     <key id="F1" event="5"/>
    <!--Minimap Ping-->
    <key id="G" event="6"/>

    <!--Order attack-->
    <key id="" event="10"/>
    <!--Order gather-->
    <key id="" event="11"/>
    <!--Order patrol-->
    <key id="" event="12"/>
    <!--Order move-->
    <key id="" event="13"/>
    <!--Order stop-->
    <key id="" event="14"/>
    

    
    <!--Protoss units-->
    <!--Carrier-->
    <key id="1" event="21"/>
    <!--Observer-->
    <key id="2" event="22"/>
    <!--Probe-->
    <key id="3" event="23"/>
    <!--Shuttle-->
    <key id="4" event="24"/>
    <!--Scout-->
    <key id="5" event="25"/>
    <!--Reaver-->
    <key id="6" event="26"/>
    <!--Zealot-->
    <key id="7" event="27"/>
    <!--High templar-->
    <key id="8" event="28"/>
    <!--Dark templar-->
    <key id="9" event="29"/>
    <!--Dragoon-->
    <key id="0" event="30"/>
    
    <!--Zerg units-->
    <!--Zergling-->
    <key id="Q" event="32"/>
    <!--Mutalisk-->
    <key id="W" event="33"/>
    <!--Hydralisk-->
    <key id="E" event="34"/>
    <!--Ultralisk-->
    <key id="R" event="35"/>
    <!--Infested Terran-->
    <key id="T" event="36"/>
    <!--Kerrigan-->
    <key id="Y" event="37"/>
    
    <!--Debug units-->
    <key id="F11" event="39"/>
    
    <!--Debug buildings-->
    <key id="N" event="41"/>
    
    <!--Debug keys-->
    <!--Debug Entity Manager-->
    <key id="F2" event="63"/>
    <!--Debug Pathfinding-->
    <key id="F3" event="64"/>
    <!--Debug UI-->
    <key id="F4" event="65"/>
    <!--Debug Explosions-->
    <key id="F6" event="66"/>
    <!--Debug FOW-->
    <key id="F5" event="67"/>
    <!--Debug Add mineral-->
    <key id="I" event="68"/>
    <!--Debug Add Gas-->
    <key id="O" event="69"/>
    <!--Debug Add Psi-->
    <key id="P" event="70"/>
    <!--Debug Win-->
    <key id="H" event="71"/>
    <!--Debug Loose-->
    <key id="J" event="72"/>
    <!--Debug Zoom out-->
    <key id="Keypad -" event="73"/>
    <!--Debug Zoom in-->
    <key id="Keypad +" event="74"/>
    <!--Debug Add explosion-->
    <key id="B" event="75"/>
    <!--Debug Add explosion system 1-->
    <key id="Z" event="76"/>
    <!--Debug Add explosion system 2-->
    <key id="X" event="77"/>
    <!--Debug Kill All Zergs-->
    <key id="F8" event="78"/>
    <!--Debug Add explosion system 2-->
    <key id="C" event="79"/>
    <!--Debug Add explosion system 2-->
    <key id="V" event="80"/>

    <!--Pressed enter-->
    <key id="RETURN" event="86"/>
    <!--Pressed backspace-->
    <key id="BACKSPACE" event="87"/>
    <!--Pressed right-->
    <key id="RIGHT" event="88"/>
    <!--Pressed left-->
    <key id="LEFT" event="89"/>
    <!--Pressed delete-->
    <key id="DELETE" event="90"/>

  </inputManager>

</config>